# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS trash folder
.Trashes
Icon?

# Python tooling
*.log
*.pot
*.pyc
*.pyo
*.pyd

# VSCode / PyCharm
.vscode/
.idea/

# Environment variables
.env
.env.*

# Project-specific
data/
output/
